*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    margin: 10px;
}

h1 {
    color: blue;
}

#sixth > img {
    height: 300px;
    width: 300px;
}

#fifth > p {
    color:blueviolet;
}

#form {
    margin: 20px;
}